.display-5 {
    font-family: 'Open Sans Condensed', cursive;
    font-weight: bold;
    line-height: 60px;
 }

 .hrlight {
    width: 10%;
    border: 1px solid rgba(255, 255, 255, 0.1);
 }

 .fluff {
     margin-top: 60px;
 }

 .card {
    padding: 10px;
}

.portIcons {
    font-size: 75px;
    padding: 15px;
    color: #464655;
}

.portCards {
    /* background-color: #ddd; */
    background: none;
    border: none;
}

.card-text { 
    color: #ddd;
}

img {
    padding: 15px;
}

.img-thumbnail {
    background-color: rgba(255, 255, 255, .2);
    border: 0px;
}

.img-spacer {
    padding-top: 30px;
}